{
  "presets": [
    "latest",
    "react",
    "flow",
    "stage-1"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-es2015-modules-commonjs"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
